src/backend/node_modules
src/backend/log
src/tools/node_modules
src/app/node_modules
src/app/log
src/app/dist
src/bicibici-*
src/backend/temp/*.xlsx
src/backend/package-lock.json
package-lock.json
log/*.log
.idea
