#app {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  margin-top: 60px;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

* {
  cursor: url('point-normal.cur'), url('point-normal.cur'), auto;
}

a:hover,span:hover,button:hover,i:hover,input:hover,li:hover,svg:hover {
  cursor: url('point-hander.cur'), url('point-hander.cur'), auto;
}

.point {
  cursor: url('point-normal.cur'), url('point-normal.cur'), auto;
}

.point:hover{
  cursor: url('point-hander.cur'), url('point-hander.cur'), auto;
}
