<!DOCTYPE html>
<html>

<head>
    <title>UP</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="assets/styles.css" rel="stylesheet" media="screen">
    <link href="assets/icon_svg.css" rel="stylesheet" media="screen">
    <link href="assets/level.css" rel="stylesheet" media="screen">
    <link href="assets/DT_bootstrap.css" rel="stylesheet" media="screen">
    <link href="assets/video_style.css" rel="stylesheet" media="screen">
    <link href="vendors/jGrowl/jquery.jgrowl.css" rel="stylesheet" media="screen">
    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <style>
        .modal {
            left: 40%;
            width: 50%;
        }
        .modal-body{
            max-height: 500px;
        }

        #up-data button{
            margin-left: 5px;
        }
    </style>
</head>

<body>

<% include ../common/header.ejs %>

<div class="container-fluid">
    <div class="row-fluid">

        <% include ../common/navigation.ejs %>

        <div class="span9" id="content">
            <div class="row-fluid">
                <!-- block -->
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left"></div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">

                            <form class="form-horizontal">
                                <fieldset>
                                    <div>
                                        <div style="float:left;">
                                            <input class="focused" id="uperId" type="text" value="" placeholder="UP编号">
                                        </div>
                                        <div  class="search-item">
                                            <input class="focused" id="uperName" type="text" value="" placeholder="UP名">
                                        </div>
                                        <div  class="search-item">
                                            <select class="selector uper-fans">
                                                <option value=""> 粉丝数(默认全部) </option>
                                                <option value="1">一万以下</option>
                                                <option value="2">五万以下</option>
                                                <option value="3">十万以下</option>
                                                <option value="4">五十万以下</option>
                                                <option value="5">五十万至一百万</option>
                                                <option value="6">一百万以上</option>
                                                <option value="7">一千万以上</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                            <table cellpadding="0" cellspacing="0" border="0"
                                   class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>头像</th>
                                    <th>UP名</th>
                                    <th>UP等级</th>
                                    <th>UP签名</th>
                                    <th>粉丝数</th>
                                    <th>关注数</th>
                                    <th>投稿数</th>
                                    <th>播放</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="up-data">
                                </tbody>
                            </table>

                            <div class="pagination" style="text-align: right;"></div>
                        </div>
                    </div>
                </div>
                <!-- /block -->

                <!-- Dynamic Modal -->
                <div id="upDynamic" class="modal hide">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close model-dy-close" type="button">&times;</button>
                        <h4 class="dynamic-name"></h4>
                    </div>
                    <div class="modal-body dynamic-contents"></div>
                </div>

                <!-- Video Modal -->
                <div id="upVideo" class="modal hide">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close model-vi-close" type="button">&times;</button>
                        <h4  class="video-name"></h4>
                    </div>
                    <div class="modal-body video-contents"></div>
                </div>

            </div>

        </div>
    </div>
</div>
<!--/.fluid-container-->

<script src="vendors/jquery-1.9.1.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="assets/scripts.js"></script>
<script src="assets/pagination.js"></script>
<script src="vendors/jGrowl/jquery.jgrowl.js"></script>
<script>
  var pageJson = {
    page: 1,
    limit: 20
  }


  function builderTbody(upers) {
    if (upers.length === 0) {
      return "";
    }
    let content = "";
    for (var i = 0; i < upers.length; i++) {

      if(!upers[i].name){
        content += ` <tr><td>${upers[i].bid}</td>`+  "<td><img class='uper-face' src='/img/icon.jpg'/></td>"   +`<td>等待获取...</td><td>未知</td><td class="center">未知</td><td class="center">未知</td><td class="center">未知</td><td class="center">未知</td><td class="center">未知</td><td><button class="btn btn-danger btn-mini" onclick="deleteAttention(this)" id=${upers[i].id}> <i class="icon-remove icon-white"></i>取关</button></td></tr>`
      }else{
        content += ` <tr><td>${upers[i].bid}</td>`+  "<td><img class='uper-face' src='https://images.weserv.nl/?url=" + upers[i].face +"'/></td>"   +`<td>${upers[i].name}</td><td><i class="level level-`+ upers[i].level +`"></i> </td><td class="center">${upers[i].sign}</td><td class="center">${upers[i].fans}</td><td class="center">${upers[i].attention}</td><td class="center">${upers[i].contribute}</td><td class="center">${upers[i].play}</td><td><button class="btn btn-danger btn-mini" onclick="deleteAttention(this)" id=${upers[i].id}> <i class="icon-remove icon-white"></i>取关</button><button class="btn btn-info btn-mini" onclick="showDynamic(`+ upers[i].bid +`)"> <i class="icon-tasks icon-white"></i>动态</button><button class="btn btn-info btn-mini" onclick="showVideo(`+ upers[i].bid +`)"> <i class="icon-facetime-video icon-white"></i>视频</button></td></tr>`
      }
    }
    return content;
  }


  $(function(){
    initTable();
    initEvent();
  });

  function initEvent(){
    $('.uper-fans').change(function(){
      pageJson.page = 1
      initTable()
    })
    $('#uperId').on("input propertychange",function(){
      pageJson.page = 1
      var single = $(this).val();
      single = single.replace(/[^\d]/g, ''); // 先把非数字的都替换掉，除了数字和. -
      $(this).val(single);
      initTable()
    })
    $('#uperName').on("input propertychange",function(){
      pageJson.page = 1
      initTable()
    })

    $('.model-dy-close').click(function(){
      $('#upDynamic').hide()
    })

    $('.model-vi-close').click(function(){
      $('#upVideo').hide()
    })
  }



  function initTable(){
    let options = {
      limit: pageJson.limit,
      page: pageJson.page
    }
    let url = "/api/attention/upers" + "?limit=" + options.limit + "&page=" + options.page

    let uperId = $('#uperId').val();
    let uperName = $('#uperName').val();
    let fanScope = $('.uper-fans').val();
    if(uperId && uperId!==""){
      url += "&uperId=" + uperId
    }
    if(uperName && uperName!==""){
      url += "&uperName=" + uperName
    }
    if(fanScope && fanScope!==""){
      url += "&fanScope=" + fanScope
    }

    $.ajax({
      type : "get",
      contentType: "application/json;charset=UTF-8",
      url,
      //请求成功
      success : function(result) {
        $('#up-data').html(builderTbody(result.rows))
        buildPagination(pageJson.page, pageJson.limit, result.count);
      },
      //请求失败，包含具体的错误信息
      error : function(e){
        showErrorMessage(e,$.jGrowl)
      }
    });
  }

  function deleteAttention(_this){
    let id = $(_this).attr('id');
    if(!id)return;

    $.ajax({
      type : "delete",
      contentType: "application/json;charset=UTF-8",
      url : "/api/attention/upers/" + id,
      success : function(result) {
        alert("删除成功")
        $('#up-data').empty();
        initTable()
      },
      error : function(e){
        showErrorMessage(e,$.jGrowl)
      }
    });
  }

  function getContent(type,dy){
    if(type === 4 || type === 1 || type === 256){
      return dy.content
    }
    if(type === 64){
      return dy.dynamic
    }
    if(type === 8){
      return dy.dynamic + ' <a target="_blank" href="https://www.bilibili.com/video/av' + dy.aid + '">#视频#</a>'
    }
    if(type === 2){
      return dy.description
    }
  }

  function getDynamicItemContent(dy){
    if(!dy)return '';
    return `<div class="dynamic-content">
                            <div style="text-indent:2em;">` +  getContent(dy.type, dy) +`</div>
                        </div>
                        <div class="dynamic-props-items">
                            <span><i class="icon-svg icon-svg-share"></i> ${dy.repost}</span> <span></span> <span><i class="icon-svg icon-svg-comment"></i> ${dy.reply}</span>  <span></span> <span><i class="icon-svg icon-svg-like"></i> ${dy.like}</span>
                        </div>`
  }

  function initDynamicData(uid){
    $.ajax({
      type : "get",
      contentType: "application/json;charset=UTF-8",
      url : "/api/attention/upers/" +  uid +"/dynamics" + "?limit=30&page=1",
      success : function(result) {
        let rows = result.rows,uper = result.uper;

        $('.dynamic-name').empty().text(uper.name)

        if(rows && rows.length > 0){
          for(let dy of rows){
            $('.dynamic-contents').append(getDynamicItemContent(dy))
          }
        }
      },
      error : function(e){
        showErrorMessage(e,$.jGrowl)
      }
    });
  }


  function getVideoItemContent (video){
    if(!video) return "";

    return `<div class="video-content"><div><img class="video-banner" title='${video.title}'  src='https://images.weserv.nl/?url=https:${video.pic}'></div><div><span class="video-des" style="display: none;">${video.desc}</span></div><div><i class="icon-bold"></i><span class="video-coin">${video.coin}</span><i class="icon-svg icon-svg-share"></i><span class="video-share">${video.share}</span><i class="icon-svg icon-svg-favorite"></i><span class="video-favorite">${video.favorite}</span></div><div><i class="icon-svg icon-svg-comment"></i><span class="video-comment">${video.comment}</span><i class="icon-svg icon-svg-like"></i><span class="video-like">${video.like}</span></div><div><i class="icon-asterisk"></i><span class="video-danmaku">${video.danmaku}</span><i class="icon-play"></i><span class="video-view">${video.view}</span></div></div>`
  }


  function initVideoData(uid){
    $.ajax({
      type : "get",
      contentType: "application/json;charset=UTF-8",
      url : "/api/attention/upers/" + uid + "/videos?limit=21&page=1",
      success : function(result) {
        let rows = result.rows,uper = result.uper;

        $('.video-name').empty().text(uper.name)
        let content = '';
        if(rows && rows.length > 0){
          let length = rows.length;
          let group = Math.ceil(length/3);
          for(let i =0 ; i < group ; i ++){
            content += "<div>"
            content += getVideoItemContent(rows.shift());
            content += getVideoItemContent(rows.shift());
            content += getVideoItemContent(rows.shift());
            content += "</div>"
          }
        }else{
          content = "<div>暂无内容</div>"
        }

        $('.video-contents').html(content)
      },
      error : function(e){
        showErrorMessage(e,$.jGrowl)
      }
    });
  }


  function showDynamic(uid){
    $('.dynamic-contents').empty();
    initDynamicData(uid)
    $('#upDynamic').show()
  }

  function showVideo(uid){
    $('.video-contents').empty();
    initVideoData(uid)
    $('#upVideo').show()
  }

</script>
</body>

</html>